.search-criteria {
	margin-top: 10px;
	margin-bottom: 20px;
}

.search-title {
	font-size: 32px;
	font-style: italic;
}

.submit-search {
	width: 100%;
}

ul.dropdown-content.select-dropdown li span {
    color: black;
}

.select-dropdown li.disabled,
.select-dropdown li.disabled > span,
.select-dropdown li.optgroup {
	    color: rgba(0, 0, 0, 0.3) !important;
}